.agendamento {
  text-align: center;
  padding: 20px;
}

.calendar-container {
  margin: 0 auto;
  display: inline-block;
  /* Aumentar o tamanho do calendário */
  font-size: 1.2rem; /* Aumenta a fonte */
}

.react-calendar {
  border-radius: 15px;  /* Bordas arredondadas */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  background-color: #fff; /* Fundo branco para clareza */
  padding: 20px;
}

.react-calendar__tile {
  border-radius: 10px; /* Bordas arredondadas nas células */
  transition: background-color 0.3s, transform 0.3s;
}

.react-calendar__tile:hover {
  background-color: #00aaff; /* Cor de fundo ao passar o mouse */
  transform: scale(1.1); /* Aumenta um pouco ao passar o mouse */
  color: #fff; /* Cor do texto ao passar o mouse */
}

.react-calendar__tile--active {
  background-color: #0088cc; /* Cor para a data selecionada */
  color: #fff;
}

.react-calendar__navigation button {
  background-color: #0088cc; /* Cor do botão de navegação */
  color: #fff;
  border-radius: 50%;
  font-size: 1.5rem;
  padding: 10px;
  transition: background-color 0.3s;
}

.react-calendar__navigation button:hover {
  background-color: #006699;
}

