/* Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.modal-buttons {
    display: flex; /* Usa flexbox para os botões ficarem lado a lado */
    /* justify-content: space-between; Espaça igualmente os botões */
    width: 100%; /* Garante que ocupe toda a largura disponível */
    gap: 10px; /* Espaçamento entre os botões */
    margin-top: 20px; /* Adiciona um espaçamento superior */
    justify-content: center;
}

.close-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.close-button:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #d13c3c;
}
